.chatboxContainer {
    display: flex;
    align-items: center;
    height: 800px;
    width: 50vw;
    background-color: red;
    display: block;
}

.chatboxHeader {
    height: 100px;
    width: 100%;
    background-color: blanchedalmond;
}

.chatboxTextbox {
    height: 600px;
    width: 100%;
}

.chatSubmit {
    height: 100px;
    width: 100%;
    background-color: aqua;
    display: block;
}

.userSubmitBox {
    height: 90%;
    width: 90%;
    background-color: purple;
}